pytest-playwright
openai==1.59.4
dateparser
opencv-python
pyzbar
esdk-obs-python
paddlepaddle==3.0.0b2
paddleocr
setuptools
html2text
htmldate
markdown
cairosvg
zxing-cpp
volcengine-python-sdk